<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="InformerSMS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <InformerSMS.Properties.Settings>
            <setting name="login" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="Info" serializeAs="String">
                <value>Данная программа служит для уведомления о включении ПК по СМС.
Для включения уведомлений введите данные от smsfeedback.ru и номер телефона для уведомления.
Если данные верны, будет выведен баланс c smsfeedback. Для включения уведомлений нажмите "Включить уведомления"
На сайте smsfeedback.ru выдаються бесплатные 10р. Этого хватит на несколько смс.
Тестирования программы проводилось на windows 10. На других ос, за роботу программы не ручаюсь.

by Nelu.</value>
            </setting>
            <setting name="numberPhone" serializeAs="String">
                <value />
            </setting>
            <setting name="FirstStart" serializeAs="String">
                <value>False</value>
            </setting>
        </InformerSMS.Properties.Settings>
    </userSettings>
</configuration>